<div class="row">
  <div class="col-md-9">
    <%= render "tweets/form" %>
    <div class="alert alert-info hidden" role="alert">
      <a href="#" class="alert-link" id="notification"></a>
    </div>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody id="tweets">
        <%= hidden_field_tag :since_id, @tweets.first.id if @tweets.first %>
        <%= render @tweets, hidden: false %>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <%= render "shared/suggested_users" %>
  </div>
</div>

<br>

<%= link_to 'More', root_path, id: "more_tweets", class: "btn btn-default", data: {max_id: @tweets.last.id} %>
